@model HomeViewModel

@{
    ViewData["Title"] = "Home";
}

@*@if (TempData["DuplicateProduct"] != null && (bool)TempData["DuplicateProduct"])
{
    <script>
        showErrorNotification();
    </script>
}
*@
<!-- start landing -->
<header id="Home" class=" ">
    <div class=" px-5 head  headerLayover">

        <div class="headCaption w-100  " data-aos="fade-up">
            <h1 class="fs-2 fw-bolder  ">Welcome To Go Cart</h1>
            <p class="fs-3 n">

                Exclusive collection for everyone...We are  One of The best E-commerce sites in The Middle East
                .... Try it now
            </p>
            <a class="text-decoration-none go-down-btn  text-black  ex">
                <p class="circle-text ">EXPLORE NOW</p>
            </a>
        </div>
        <div class="headImg  mt-5 w-100" data-aos="fade-down">
            <img src="Assets/Image/logoo5.png" class="w-100 img" alt="">
        </div>
    </div>
    <button class="btn rounded-3" id="btnUp">
        <i class="fas fa-arrow-up btnUp"></i>
    </button>
</header>

<section class="sec2 mt-5" id="sec2">
    <div class="container">
        <div class="d-flex justify-content-between row ">
            <div class="col-xl-3 ">
                <div class="category" data-aos="fade-right">
                    <div class="category1">
                        <a href="">
                            <h3 class="pt-3 ms-3">All Category</h3>
                        </a>
                        <hr class="text-info">
                        <a asp-controller="Category" asp-action="NewArrivals">
                            <p class="ms-3 w-75">New Arrivals</p>
                        </a>

                        @foreach (var category in Model.Categories.Where(c => c.ParentCategoryId == null))
                        {
                            @if (category.Id == 1)
                            {
                                <hr class="text-info">
                                <div class="dropdown ms-3 w-25">
                                    <a class=" dropdown-toggle dropdown-toggle1 " href="" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                        Fashion
                                    </a>

                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                        @foreach (var fashionCategory in Model.Categories.Where(c => c.ParentCategoryId == 1))
                                        {
                                            <li>
                                                <a asp-route-categoryId="@fashionCategory.Id" asp-controller="Category" asp-action="Index" class="dropdown-item">@fashionCategory.Name</a>
                                            </li>

                                        }
                                    </ul>
                                </div>
                            }
                            else
                            {
                                <hr class="text-info">
                                <a asp-route-categoryId="@category.Id" asp-controller="Category" asp-action="Index">
                                    <p class=" @(category == Model.Categories.Last() ? "ms-3 pb-3 w-75" : "ms-3 w-75" )">@category.Name</p>
                                </a>
                            }
                        }
                    </div>
                </div>
            </div>
            <div class="col-xl-9" data-aos="fade-left">
                <div class="slide w-100">
                    <div class="slide-swp swiper mySwiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide swiper-slide1">
                                <img src="Assets/Image/slider-01.jpg" class="w-100" alt="">
                            </div>
                            <div class="swiper-slide swiper-slide2">
                                <img src="Assets/Image/slider-02.jpg" class="w-100" alt="">
                            </div>
                            <div class="swiper-slide swiper-slide3">
                                <img src="Assets/Image/slider-03.jpg" class="w-100" alt="">
                            </div>
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="features my-5">
    <div class="container">
        <div class="row">
            <div class="col-md-2  p-3">
                <div class="imgFeatures" data-aos="fade-right">
                    <div class="">
                        <img src="Assets/Image/features/f1.png" alt="">
                        <h5 class="mt-2 feature1">Free Shipping</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-2  p-3">
                <div class="imgFeatures" data-aos="fade-right">
                    <div class="">
                        <img src="Assets/Image/features/f2.png" alt="">
                        <h5 class="mt-2 feature2 ">Online Order</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-2  p-3">
                <div class="imgFeatures" data-aos="fade-right">
                    <div class="">
                        <img src="Assets/Image/features/f3.png" alt="">
                        <h5 class="mt-2 feature3">Save Money</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-2  p-3">
                <div class="imgFeatures" data-aos="fade-left">
                    <div class="">
                        <img src="Assets/Image/features/f4.png" alt="">
                        <h5 class="mt-2 feature4">Promotions</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-2  p-3">
                <div class="imgFeatures " data-aos="fade-left">
                    <div class="">
                        <img src="Assets/Image/features/f5.png" alt="">
                        <h5 class="mt-2 feature5">Happy Sell</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-2  p-3">
                <div class="imgFeatures" data-aos="fade-left">
                    <div class="">
                        <img src="Assets/Image/features/f6.png" alt="">
                        <h5 class="mt-2  feature6">F24/7 Support</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="slider my-5">
    <div class="container">
        <div class="win  section-head">
            <h2 class="win1">Categories </h2>
        </div>
        <div class="slickSlider slickSlider1">
            @foreach (var category in Model.Categories.Where(c => c.ParentCategoryId != 1))
            {
                <div class="item rounded-circle ">
                    <img src="@category.ImgUrl" class="rounded-circle" alt="">
                    <a asp-route-categoryId="@category.Id" asp-controller="Category" asp-action="Index" class="layer1 rounded-circle text-decoration-none">
                        <div class="layCard lay-icon d-flex flex-column">
                            <h4 class="text-white">@category.Name</h4>
                        </div>
                    </a>
                </div>
            }
        </div>
    </div>
</section>

<section class="sale-sec container swiper mySwiper">
    <div class="section-head" data-aos="fade-up">
        <h4>
            <span class="section-onsale">
                On Sale
            </span>
            Products
        </h4>
    </div>

    <div class="boxs swiper-wrapper">
        @foreach (var product in Model.Products.Where(p => p.OnSale == true))
        {
            <div class="box column product-item swiper-slide">
                <div class="product-btn">
                    <ul class="product-action">
                        @if (_signInManager.IsSignedIn(User))
                        {
                            <li class="addToWL" data-product-id="@product.Id"><i class="far fa-heart"></i></li>
                        }
                        <li class="add-cart" data-product-id="@product.Id"><i class="fa-solid fa-cart-shopping"></i></li>
                    </ul>
                </div>
                <a asp-route-productId="@product.Id" asp-controller="Product" asp-action="Details" class="div-img">
                    <span class="discount bg-danger">@((int)(product.Offer.DiscountPercentage * 100))%</span>
                    <img src="@product.ProductImages.Select(pi => pi.ImgUrl).FirstOrDefault()" class="img-product">
                    <img src="@product.ProductImages.Select(pi => pi.ImgUrl).Skip(1).FirstOrDefault()" class="hover-img">
                </a>
                <div class="content">
                    <a class="product-item-link" asp-route-productId="@product.Id" asp-controller="Product" asp-action="Details">
                        @product.Name
                    </a>
                    @{
                        int numOfRates = product.Ratings.Count();
                        decimal rating = numOfRates > 0 ? product.Ratings.Average(r => r.Value) : 5;
                    }

                    <div class="stars d-flex justify-content-center">
                        <div>
                            @for (int i = 0; i < rating; i++)
                            {
                                <i class="fa-solid fa-star"></i>
                            }
                            @for (int i = (int)Math.Round(rating); i < 5; i++)
                            {
                                <i class="fas fa-star" style="color:darkgray"></i>
                            }
                        </div>

                        <p class="ms-2">(@numOfRates)</p>
                    </div>
                    <div class="price">
                        <span class="fs-6">$@(product.Price - Math.Round(product.Price * product.Offer.DiscountPercentage))</span>
                        <del>@product.Price EGP</del>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="">
        <div class="swiper-button-next swiper-btn"></div>
        <div class="swiper-button-prev swiper-btn"></div>
    </div>
</section>

<div class="container advertisement  d-flex gap-2 my-5">
    <div class="position-relative " data-aos="fade-right">
        <img src="Assets/Image/advertisement/banner-5.jpg" class="w-100" alt="">
        <span class="glass-hover"></span>

    </div>
    <div class="position-relative" data-aos="fade-up">
        <img src="Assets/Image/advertisement/banner-2.jpg" class="w-100" alt="">
        <span class="glass-hover"></span>
    </div>
    <div class="position-relative" data-aos="fade-left">
        <img src="Assets/Image/advertisement/banner-1.jpg" class="w-100" alt="">
        <span class="glass-hover"></span>
    </div>
</div>

<section class="sale-sec container swiper mySwiper">
    <div class="section-head ">
        <h4 data-aos="fade-up">
            <span class="section-onsale">
                New
            </span>
            Arrivals
        </h4>
    </div>
    <div class="boxs swiper-wrapper">
        @foreach (var product in Model.Products.Where(p => p.OnSale == false))
        {
            <div class="box column product-item swiper-slide">
                <div class="product-btn">
                    <ul class="product-action">
                        @if (_signInManager.IsSignedIn(User))
                        {
                            <li class="addToWL" data-product-id="@product.Id"><i class="far fa-heart"></i></li>
                        }
                        <li class="add-cart" data-product-id="@product.Id"><i class="fa-solid fa-cart-shopping"></i></li>
                    </ul>
                </div>
                <a asp-route-productId="@product.Id" asp-controller="Product" asp-action="Details" class="div-img">
                    <img src="@product.ProductImages.Select(pi => pi.ImgUrl).FirstOrDefault()" class="img-product">
                    <img src="@product.ProductImages.Select(pi => pi.ImgUrl).Skip(1).FirstOrDefault()" class="hover-img">
                </a>
                <div class="content">
                    <a class="product-item-link" asp-route-productId="@product.Id" asp-controller="Product" asp-action="Details">
                        @product.Name
                    </a>
                    @{
                        int numOfRates = product.Ratings.Count();
                        decimal rating = numOfRates > 0 ? product.Ratings.Average(r => r.Value) : 5;
                    }

                    <div class="stars d-flex justify-content-center">
                        <div>
                            @for (int i = 0; i < rating; i++)
                            {
                                <i class="fa-solid fa-star"></i>
                            }
                            @for (int i = (int)Math.Round(rating); i < 5; i++)
                            {
                                <i class="fas fa-star" style="color:darkgray"></i>
                            }
                        </div>

                        <p class="ms-2">(@numOfRates)</p>
                    </div>
                    <div class="price">
                        <span class="fs-6">@product.Price EGP</span>
                    </div>
                </div>
            </div>
        }
    </div>

    <div class="">
        <div class="swiper-button-next swiper-btn"></div>
        <div class="swiper-button-prev swiper-btn"></div>
    </div>
</section>

<section class="sec4">
    <div class="sec4-layover ">
        <div class="pt-5">
        </div>
    </div>
</section>

<section id="Works" class="py-5">
    <div class=" pt-5">
        <h2 class="work-after text-center fs-1">Fashion</h2>
    </div>
    <ul class="list-unstyled mb-3 py-5">
        <li class="d-flex gap-2  justify-content-center align-items-center">
            <button class="btn1 btn-color rounded-5 mixitup-control-active" data-filter="all">All</button>
            <button class="btn1 btn-color rounded-5" data-filter=".Men">Men</button>
            <button class="btn1 btn-color rounded-5" data-filter=".Women">Women</button>
            <button class="btn1 btn-color rounded-5" data-filter=".Kids">Kids</button>
        </li>
    </ul>
    <div class="container conRow">
        <div class="row">
           @foreach (var category in new[] { "Men", "Women", "Kids" })
           {
                @foreach (var product in Model.Products.Where(p => p.Category.Name == category))
                {
                    <div class="col-md-6 col-lg-4 p-2 mix @category">
                        <div class="port">
                            <img class="w-100" src="@product.ProductImages.Select(pi => pi.ImgUrl).FirstOrDefault()" alt="">
                            <div class="layer text-center text-white d-flex align-items-center justify-content-center">
                                <div class="lay-text">
                                    <h4 class="text-black">@product.Name</h4>
                                    <div class="lay-icon">
                                        <a class="add-cart" data-product-id="@product.Id" style="cursor:pointer;">
                                        <i class="fa-solid fa-cart-shopping"></i>
                                    </a>

                                    <a asp-route-productId="@product.Id" asp-controller="Product" asp-action="Details">
                                        <i class="fa-solid fa-circle-info"></i>
                                    </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</section>