@model HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}

@if (TempData["DuplicateProduct"] != null && (bool)TempData["DuplicateProduct"])
{
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            Product is already added to the cart.
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
}

<!-- start landing -->
<header id="Home" class="">
    <div class=" px-5 head  headerLayover">
        <div class="headCaption w-100  ">
            <h1 class="fs-2 fw-bolder  ">Welcome To Go Cart</h1>
            <p class="fs-3 n">
                exclusive collection for everyone ...
                We are one of the best sites in the Middle East for electronic sales. Visit us and try it
            </p>
            <div class="d-flex gap-2">
                <button class="btn2 fw-bold">
                    <a href="Html/Categories.html" class="text-decoration-none text-white">
                        Explore Now
                    </a>
                </button>
            </div>
        </div>
        <div class="headImg w-100  ">
            <img src="Assets/Image/logo.png" class="w-100 rounded-circle img" alt="">
        </div>
    </div>
    <button class="btn rounded-3" id="btnUp">
        <i class="fas fa-arrow-up btnUp"></i>
    </button>
</header>

<section class="sec2 mt-5" id="sec2">
    <div class="container">
        <div class="d-flex justify-content-between row ">
            <div class="col-md-3">
                <div class="category">
                    <div class="category1">
                        <a href="">
                            <h3 class="pt-3 ms-3">All Category</h3>
                        </a>
                        <hr class="text-info">
                        <a asp-controller="Category" asp-action="NewArrivals">
                            <p class="ms-3 w-75">New Arrivals</p>
                        </a>

                        @foreach (var category in Model.Categories.Where(c => c.ParentCategoryId == null))
                        {
                            @if (category.Id == 1)
                            {
                                <hr class="text-info">
                                <div class="dropdown ms-3 w-25">
                                    <a class=" dropdown-toggle dropdown-toggle1 " href="" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                        Fashion
                                    </a>

                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                        @foreach (var fashionCategory in Model.Categories.Where(c => c.ParentCategoryId == 1))
                                        {
                                            <li>
                                                <a asp-route-categoryId="@fashionCategory.Id" asp-controller="Category" asp-action="Index" class="dropdown-item">@fashionCategory.Name</a>
                                            </li>

                                        }
                                    </ul>
                                </div>
                            }
                            else
                            {
                                <hr class="text-info">
                                <a asp-route-categoryId="@category.Id" asp-controller="Category" asp-action="Index">
                                    <p class=" @(category == Model.Categories.Last() ? "ms-3 pb-3 w-75" : "ms-3 w-75" )">@category.Name</p>
                                </a>
                            }
                        }
                    </div>
                </div>
            </div>
            <div class="col-md-9 ">
                <div class="slide w-100">
                    <div class="slide-swp swiper mySwiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide swiper-slide1">
                                <img src="Assets/Image/slider-01.jpg" class="w-100" alt="">
                            </div>
                            <div class="swiper-slide swiper-slide2">
                                <img src="Assets/Image/slider-02.jpg" class="w-100" alt="">
                            </div>
                            <div class="swiper-slide swiper-slide3">
                                <img src="Assets/Image/slider-03.jpg" class="w-100" alt="">
                            </div>
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<h4 class="win mt-5">Categories</h4>
<hr class="container" />

<section class="slider my-5">
    <div class="container">
        <div class="slickSlider slickSlider1">
            @foreach (var category in Model.Categories.Where(c => c.ParentCategoryId != 1))
            {
                <div class="item rounded-circle">
                    <img src="@category.ImgUrl" class="rounded-circle" alt="">
                    <a asp-route-categoryId="@category.Id" asp-controller="Category" asp-action="Index" class="layer1 rounded-circle text-decoration-none">
                        <div class="layCard lay-icon d-flex flex-column">
                            <h4 class="text-white">@category.Name</h4>
                        </div>
                    </a>
                </div>
            }
        </div>
    </div>
</section>

<h4 class="win mt-5">New Arrivals</h4>
<hr class="container" />

<section class="slider my-5">
    <div class="container">
        <div class="slickSlider">
            @foreach (var product in Model.Products)
            {
                <div class="d-flex flex-column">
                    <div class="item1">
                        <img src="@product.ImgUrl" class="" alt="">

                        <a asp-route-productId="@product.Id" asp-controller="Product" asp-action="Details" class="layer1"></a>
                        <div class="layCard1 lay-icon1">
                            <a asp-route-productId="@product.Id" asp-controller="Cart" asp-action="AddToCart">
                                <i class="fa-solid fa-cart-shopping "></i>
                            </a>
                            <a asp-route-productId="@product.Id" asp-controller="WishList" asp-action="AddToWishList">
                                <i class="fa-solid fa-heart"></i>
                            </a>
                        </div>
                    </div>
                     <div class=" itemdet">
                        <P class="mt-2 fs-5 fw-semibold">@product.Name</P>
                        <P class="mt-1 slickPrice text-success">@product.Price$</P>
                        <div>
                            @for (int i = 0; i < Math.Round(product.Rating); i++)
                            {
                                <i class="fas fa-star" style="color:gold"></i>
                            }
                            @for (int i = (int)Math.Round(product.Rating); i < 5; i++)
                            {
                                <i class="fas fa-star" style="color:darkgray"></i>
                            }
                        </div>
                    </div>

                </div>
            }
        </div>
    </div>
</section>

@*@foreach (var category in Model.Categories)
{
    @if (category.Products.Count() > 0)
    {
        <h4 class="win mt-5">@category.Name</h4>
        <hr class="container" />

        <section class="slider my-5">
            <div class="container">
                <div class="slickSlider">
                    @foreach (var product in Model.Products.Where(p => p.CategoryId == category.Id))
                    {
                        <div class="item">
                            <img src="@product.ImgUrl" class="" alt="">
                            <P class="mt-2 fs-5 fw-semibold">@product.Name</P>
                            <P class="mt-1 slickPrice text-success">@product.Price$</P>
                            <div>
                                @for (int i = 0; i < Math.Round(product.Rating); i++)
                                {
                                    <i class="fas fa-star" style="color:gold"></i>
                                }
                                @for (int i = (int)Math.Round(product.Rating); i < 5; i++)
                                {
                                    <i class="fas fa-star" style="color:darkgray"></i>
                                }
                            </div>
                            <div class="layer1">
                                <div class="layCard1 lay-icon1">
                                    <a asp-route-productId="@product.Id" asp-controller="Cart" asp-action="AddToCart">
                                        <i class="fa-solid fa-cart-shopping "></i>
                                    </a>
                                    <a asp-route-productId="@product.Id" asp-controller="Product" asp-action="Details">
                                        <i class="fa-solid fa-info-circle"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </section>
    }
}
*@
<section class="sec4">
    <div class="sec4-layover ">
        <div class="pt-5">
        </div>
    </div>
</section>

<section id="Works" class="py-5">
    <div class=" pt-5">
        <h2 class="work-after text-center fs-1">Fashion</h2>
    </div>
    <ul class="list-unstyled mb-3 py-5">
        <li class="d-flex gap-2  justify-content-center align-items-center">
            <button class="btn1 btn-color rounded-5 mixitup-control-active" data-filter="all">All</button>
            <button class="btn1 btn-color rounded-5" data-filter=".Men">Men</button>
            <button class="btn1 btn-color rounded-5" data-filter=".Women">Women</button>
            <button class="btn1 btn-color rounded-5" data-filter=".Kids">Kids</button>
        </li>
    </ul>
    <div class="container conRow">
        <div class="row">
           @foreach (var category in new[] { "Men", "Women", "Kids" })
           {
                @foreach (var product in Model.Products.Where(p => p.Category.Name == category))
                {
                    <div class="col-md-6 col-lg-4 p-2 mix @category">
                        <div class="port">
                            <img class="w-100" src="@product.ImgUrl" alt="">
                            <div class="layer text-center text-white d-flex align-items-center justify-content-center">
                                <div class="lay-text">
                                    <h4 class="text-black">@product.Name</h4>
                                    <div class="lay-icon">
                                    <a asp-route-productId="@product.Id" asp-controller="Cart" asp-action="AddToCart">
                                        <i class="fa-solid fa-cart-shopping"></i>
                                    </a>

                                    <a asp-route-productId="@product.Id" asp-controller="Product" asp-action="Details">
                                        <i class="fa-solid fa-circle-info"></i>
                                    </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</section>