@model ProductFormViewModel

@{
    ViewData["Title"] = "Product Form";
}

<section class="cat1 pt-5" id="cat">
    <div class="container">
        <div class="row mt-4">
            <h2>Create Product</h2>
            <hr class="w-15" />
            <form method="post" asp-action="Create" class="my-3 createprodut" role="form" enctype="multipart/form-data">
                <div class="form-group">
                    <label asp-for="Name" class="fs-5 mt-4">Name:</label>
                    <input asp-for="Name" type="text" id="addProductName" class="form-control w-50">
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="CategoryId" class="fs-5 mt-4">Category:</label>
                    <select asp-for="CategoryId" class="form-control w-50">
                        <option value="">Select Category</option>
                        @foreach (var category in ViewBag.Categories)
                        {
                            <option value="@category.Value">@category.Text</option>
                        }
                    </select>
                </div>

                <div class="form-group">
                    <label asp-for="SelectedSizes" class="fs-5 mt-4">Size:</label>
                    <select asp-for="SelectedSizes" class="form-control w-25" multiple>
                        @foreach (var size in ViewBag.Sizes)
                        {
                            <option value="@size.Value">@size.Text</option>
                        }
                    </select>
                </div>

                <div class="form-group">
                    <label asp-for="SelectedColors" class="fs-5 mt-4">Colors:</label>
                    <select asp-for="SelectedColors" class="form-control w-25" multiple>
                        @foreach (var color in ViewBag.Colors)
                        {
                            <option value="@color.Value">@color.Text</option>
                        }
                    </select>
                </div>

                <div class="form-group">
                    <label asp-for="Price" class="fs-5 mt-4">Price:</label>
                    <input asp-for="Price" type="number" id="addProductPrice" class="form-control w-25">
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="DiscountPercentage" class="fs-5 mt-4">Discount Percentage:</label>
                    <input asp-for="DiscountPercentage" type="number" class="form-control w-25">
                </div>

                <div class="form-group">
                    <label asp-for="Description" class="fs-5 mt-4">Description:</label>
                    <textarea asp-for="Description" id="addProductDesc" maxlength="350" class="form-control w-25"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>

                <div class="form-group col-md-4 d-flex align-items-center">
                    <label asp-for="NumberOfItemsInStock" class="fs-5">Number of Items: </label>
                    <input asp-for="NumberOfItemsInStock" type="number" id="addProductItems" class="form-control w-25">
                    <span asp-validation-for="NumberOfItemsInStock" class="text-danger"></span>
                </div>

                <div class="form-group mt-4">
                    <input asp-for="ImgFile"  type="file" accept=".webp, .png , .jpg, .jpeg" id="productImage" placeholder="Upload" class=" form-control w-25">
                 </div>
                 <div class="d-flex justify-content-between">
                    <div class="form-group mt-4">
                        <input asp-for="Img1" type="file" accept=".webp, .png , .jpg, .jpeg" id="productImage" placeholder="Upload" class=" form-control w-25">
                    </div>
                    <div class="form-group mt-4">
                        <input asp-for="Img2" type="file" accept=".webp, .png , .jpg, .jpeg" id="productImage" placeholder="Upload" class=" form-control w-25">
                    </div>
                 </div>
                <div class="d-flex justify-content-between">
                    <div class="form-group mt-4">
                        <input asp-for="Img3" type="file" accept=".webp, .png , .jpg, .jpeg" id="productImage" placeholder="Upload" class=" form-control w-25">
                    </div>
                    <div class="form-group mt-4">
                        <input asp-for="Img4" type="file" accept=".webp, .png , .jpg, .jpeg" id="productImage" placeholder="Upload" class=" form-control w-25">
                    </div>
                </div>
                <div class="d-flex justify-content-between mt-5 Grbimg-cat">
                    <button type="submit" class="btn btn-secondary py-3 px-5">
                        <i class="bi bi-check"></i>
                        Save
                    </button>
                    <a asp-action="Index" class="btn btn-secondary py-3 px-5">
                        <i class="bi bi-x"></i>
                        Cancel
                    </a>
                </div>
            </form>
        </div>
    </div>
</section>

@*<script>
    $(document).ready(function () {
        $('#category-select').change(function () {
            var selectedCategoryId = parseInt($(this).val());
            var sizeSelector = $('#size-selector');

            if (selectedCategoryId === 2 || selectedCategoryId === 3) {
                sizeSelector.show();
            } else {
                sizeSelector.hide();
            }
        });
    });
</script>*@

@*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $(".star-rating .star").click(function () {
            var value = $(this).data("value");
            $("#rating-value").val(value);
            $(".star-rating .star").removeClass("checked");
            $(this).prevAll().addBack().addClass("checked");
        });
    });
</script>
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}*@