@model ProductDetailsViewModel

@{
    ViewData["Title"] = "Product Details";
}

<section class="details font-monospace">
    <h4 class="font-monospace ms-2">Product </h4>
    <hr class="w-100">
    <div class="d-flex ms-5 align-items-center  details-dflex">
        <div class="det-img">
            <img src="@Model.ImgUrl" alt="Product Image" class="w-75">
        </div>

        <div class="det-text w-100">
            <div class="d-flex align-items-center">
                <h2>Name: </h2>
                <p class="mt-2 fs-3 ms-1"> @Model.Name</p>
            </div>

            <hr class="me-3">

            <div class="d-flex align-items-center">
                <h2>Category: </h2>
                <p class="mt-2 fs-3 ms-1"> @Model.Category</p>
            </div>

            <hr class="me-3">

            <div class="d-flex align-items-center">
                <h2>Price: </h2>
                <p class="mt-3 fs-3 ms-1">  @Model.Price$</p>
            </div>

            <hr class="me-3">

            <div class=" align-items-center">
                <h2 class="font-monospace">Description : </h2>
                <p class="mt-2 fs-3 ms-1"> @Model.Description</p>
            </div>
            
            <hr class="me-3">
        </div>
    </div>

    <div class="d-flex justify-content-center">
        <a asp-route-productId="@Model.Id" asp-controller="Cart" asp-action="AddToCart" class="btn btn-outline-secondary px-5 py-3">Add To Cart</a>
    </div>
</section>

<section class="my-5">
    <form method="post" asp-action="AddReview" asp-route-productId="@Model.Id" class="w-75 mx-auto">
    <input name="review" maxlength="200" id="coment" class="form-control w-75 mx-auto text-dark py-3" placeholder="Write a customer review" />
        <button type="submit" class="btn btn-primary mt-2" style="display:none"></button>
    </form>
    <div class="comment mx-auto w-75 mt-5">
        @foreach (var review in Model.ProductReviews)
        {
            <div class="">
                <div class="comImg d-flex ">
                    <img src="@review.ProfilePicture" alt="User Image" class=" border rounded-circle">
                    <p class="mt-2 ms-2 font-monospace">@review.UserName</p>
                </div>
                <div class="comText ms-4">
                    <p class="">
                        @review.Review
                    </p>
                </div>
            </div>
            <hr/>
        }
    </div>
</section>