@model CategoryViewModel

@{
    ViewData["Title"] = @Model.Category.Name;
}

@if (TempData["DuplicateProduct"] != null && (bool)TempData["DuplicateProduct"])
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        Product is already added to the cart.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
<input class="d-none" id="category-id" value="@Model.Category.Id"/>
<section class="cat1 pt-5" id="cat">
    <div class="mb-5">
        <h4 class="win">@Model.Category.Name</h4>
        <hr class="container" />
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class=" filter-card bg-primary bg-opacity-10">
                    <div class="card-body">
                        <h5 class="card-title">Filter</h5>
                        <select class="form-control" id="sortBy">
                            <option selected>Sort by</option>
                            <option value="newest">Newest</option>
                            <option value="highest">Price: Highest</option>
                            <option value="lowest">Price: Lowest</option>
                         </select>

                        <hr />

                        <div class="form-group">
                            <p class="fs-5 fw-semibold" for="priceRange">Price Range</p>
                            <input type="range" class="form-range" id="priceRange" min="0" max="10000" step="10" value="5000">
                        </div>
                        <div class="form-group">
                            <label for="selectedPrice">Selected Price: $<span id="selectedPrice">5000</span></label>
                        </div>
                        <hr />
                        <p class="fs-5 fw-semibold">Colors</p>
                        @foreach (var color in Model.Colors)
                        {
                            <a data-color-id="@color.Id" class="btn color-button border border-dark mx-1 my-1"><i class="fa-solid fa-fw fa-lg fa-circle text-@(color.Value)"></i></a>
                        }

                        <hr />

                        <p class="fs-5 fw-semibold">Sizes</p>
                        <div class="filter-button-group">
                            @foreach (var size in Model.Sizes)
                            {
                                <button data-size-id ="@size.Id">@size.Name</button>
                            }
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-9">
                <div class="row g-3" id="filtered-products">
                    @Html.Partial("_ProductsPartial", Model.Products)
                </div>
            </div>
        </div>
    </div>
</section>