@model CategoryViewModel

@{
    ViewData["Title"] = @Model.Category.Name;
}

@if (TempData["DuplicateProduct"] != null && (bool)TempData["DuplicateProduct"])
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        Product is already added to the cart.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
<section class="cat1 pt-5" id="cat">
    <div class="mb-5">
        <h4 class="win">@Model.Category.Name</h4>
        <hr class="container" />
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Filter By Price</h5>
                        <hr />
                        <div class="form-group">
                            <label for="priceRange">Price Range:</label>
                            <input type="range" class="form-range" id="priceRange" min="0" max="1000" step="10" value="500">
                        </div>
                        <div class="form-group">
                            <label for="selectedPrice">Selected Price: $<span id="selectedPrice">500</span></label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-9">
                <div class="row g-3" id="filtered-products">
                    @Html.Partial("_ProductsPartial", Model.Products)
                </div>
            </div>
        </div>
    </div>
</section>
@section scripts {
    <script>
        $(document).ready(function () {

            var priceRange = document.getElementById('priceRange');
            var selectedPrice = document.getElementById('selectedPrice');

            priceRange.addEventListener('input', function () {
                selectedPrice.innerText = priceRange.value;
                $.ajax({
                    url: '@Url.Action("FilteredProducts", "Category")',
                    type: 'GET',
                    data: {
                        categoryId: '@Model.Category.Id',
                        price: priceRange.value // Update to use priceRange value
                    },
                    success: function (result) {
                        $('#filtered-products').html(result);
                    },
                    error: function () {
                        // Handle error
                    }
                });
            });
        });
    </script>
}