@model CategoryViewModel

@{
    ViewData["Title"] = @Model.Category.Name;
}

<input class="d-none" id="category-id" value="@Model.Category.Id"/>
<section class="cat1 pt-5" id="cat">
    <div class="container ">
        <h2 class="mb-5 ">
            @Model.Category.Name
            <hr class="">
        </h2>
        <div class="row g-3">
            <div class="col-md-4 col-xl-4 col-xxl-3">
                <div class=" filter-card bg-opacity-10 bg-primary">
                    <div class="card-body">
                        <h5 class="card-title">Filter</h5>
                        <select class="form-control" id="sortBy">
                            <option selected>Sort by</option>
                            <option value="newest">Newest</option>
                            <option value="highest">Price: Highest</option>
                            <option value="lowest">Price: Lowest</option>
                         </select>

                        <hr />
                        
                        <div class="form-group">
                            <p class="fs-5 fw-semibold" for="priceRange">Price Range</p>
                            <div class="d-flex justify-content-between mt-2">
                                <span class="text-sucess"> 200 EGP</span>
                                <span class="text-sucess"> 10000 EGP</span>
                            </div>
                            <input type="range" class="form-range" id="priceRange" min="200" max="10000" step="10" value="5000">
                        </div>
                        <div class="form-group">
                            <label for="selectedPrice">Selected Price: <span id="selectedPrice">5000</span> EGP</label>
                        </div>
                        <hr />
                        <p class="fs-5 fw-semibold">Colors</p>
                        @foreach (var color in Model.Colors)
                        {
                            <a data-color-id="@color.Id" class="btn color-button border mx-1 my-1"><i class="fa-solid fa-fw fa-lg fa-circle text-@(color.Value)"></i></a>
                        }

                        <hr />

                        <p class="fs-5 fw-semibold">Sizes</p>
                        <div class="filter-button-group">
                            @foreach (var size in Model.Sizes)
                            {
                                <button data-size-id ="@size.Id">@size.Name</button>
                            }   
                        </div>
                        
                        <hr />

                        <button id="clearFilters" class="btn w-100 btn-secondary">Clear</button>

                    </div>
                </div>
            </div>

            <div class="col-md-9">
                <div class="row g-3" id="filtered-products">
                    @Html.Partial("_ProductsPartial", Model.Products)
                </div>
            </div>
            <nav>
                <ul class="pagination">
                    <li class="page-item @(Model.CurrentPage == 1 ? "disabled" : "")">
                        <a class="page-link" asp-action="Index" asp-route-categoryId="@Model.Category.Id" asp-route-page="1" asp-route-pageSize="@Model.PageSize">First</a>
                    </li>
                    <li class="page-item @(Model.CurrentPage == 1 ? "disabled" : "")">
                        <a class="page-link" asp-action="Index" asp-route-categoryId="@Model.Category.Id" asp-route-page="@(Model.CurrentPage - 1)" asp-route-pageSize="@Model.PageSize">Previous</a>
                    </li>
                    @for (int i = 1; i <= Model.TotalPages; i++)
                    {
                        <li class="page-item @(Model.CurrentPage == i ? "active" : "")">
                            <a class="page-link" asp-action="Index" asp-route-categoryId="@Model.Category.Id" asp-route-page="@i" asp-route-pageSize="@Model.PageSize">@i</a>
                        </li>
                    }
                    <li class="page-item @(Model.CurrentPage == Model.TotalPages ? "disabled" : "")">
                        <a class="page-link" asp-action="Index" asp-route-categoryId="@Model.Category.Id" asp-route-page="@(Model.CurrentPage + 1)" asp-route-pageSize="@Model.PageSize">Next</a>
                    </li>
                    <li class="page-item @(Model.CurrentPage == Model.TotalPages ? "disabled" : "")">
                        <a class="page-link" asp-action="Index" asp-route-categoryId="@Model.Category.Id" asp-route-page="@Model.TotalPages" asp-route-pageSize="@Model.PageSize">Last</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</section>