@model CategoryViewModel

@{
    ViewData["Title"] = "New Arrivals";
}
<section class="cat1 pt-5" id="cat">
    <div class="container ">
        <h2 class="mb-5 ">
            New Arrivals
            <hr class="">
        </h2>
        <div class="row g-3">
            <div class="col-md-12">
                <div class="row g-3" id="filtered-products">
                    @foreach (var product in Model.Products)
                    {
                        <div class="col-md-3">
                            <div class="card me-2 bg-primary bg-opacity-10 border border-2 rounded rounded-1">
                                <div class="card1">
                                    <img src="@product.ProductImages.Select(pi => pi.ImgUrl).FirstOrDefault()" class="card-img w-100" alt="...">
                                </div>
                                <div class="card-body">
                                    <h5 style="height:65px;" class="card-title">@product.Name</h5>
                                    @if (product.OnSale)
                                    {
                                        var price = @product.Price - Math.Round(product.Price * product.Offer.DiscountPercentage);
                                        <div class="price-discount d-flex">
                                            <del>@product.Price</del>
                                            <p class="fw-semibold fs-5 mx-3 text-danger">@price EGP</p>
                                        </div>
                                    }
                                    else
                                    {
                                        <p class="fw-semibold fs-5 text-success">@product.Price EGP</p>
                                    }

                                    @{
                                        decimal rating = product.Ratings.Count() > 0 ? product.Ratings.Average(r => r.Value) : 5;
                                    }
                                    <div class="pb-3">
                                        @for (int i = 0; i < Math.Round(rating); i++)
                                        {
                                            <i class="fas fa-star" style="color:gold"></i>
                                        }
                                        @for (int i = (int)Math.Round(rating); i < 5; i++)
                                        {
                                            <i class="fas fa-star" style="color:darkgray"></i>
                                        }
                                    </div>
                                    <button data-product-id="@product.Id" class="btn btn-success add-cart">Add To Cart</button>
                                    <a asp-route-productId="@product.Id" asp-controller="Product" asp-action="Details" class="btn btn-secondary ">Details</a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <nav>
                <ul class="pagination">
                    <li class="page-item @(Model.CurrentPage == 1 ? "disabled" : "")">
                        <a class="page-link" asp-action="NewArrivals" asp-route-page="1" asp-route-pageSize="@Model.PageSize">First</a>
                    </li>
                    <li class="page-item @(Model.CurrentPage == 1 ? "disabled" : "")">
                        <a class="page-link" asp-action="NewArrivals" asp-route-page="@(Model.CurrentPage - 1)" asp-route-pageSize="@Model.PageSize">Previous</a>
                    </li>
                    @for (int i = 1; i <= Model.TotalPages; i++)
                    {
                        <li class="page-item @(Model.CurrentPage == i ? "active" : "")">
                            <a class="page-link" asp-action="NewArrivals" asp-route-page="@i" asp-route-pageSize="@Model.PageSize">@i</a>
                        </li>
                    }
                    <li class="page-item @(Model.CurrentPage == Model.TotalPages ? "disabled" : "")">
                        <a class="page-link" asp-action="NewArrivals" asp-route-page="@(Model.CurrentPage + 1)" asp-route-pageSize="@Model.PageSize">Next</a>
                    </li>
                    <li class="page-item @(Model.CurrentPage == Model.TotalPages ? "disabled" : "")">
                        <a class="page-link" asp-action="NewArrivals" asp-route-page="@Model.TotalPages" asp-route-pageSize="@Model.PageSize">Last</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</section>
@*<section class="cat1 pt-5" id="cat">
    <div class="mb-5">
        <h4 class="win">New Arrivals</h4>
        <hr class="container" />
    </div>

    <div class="container ">
        <div class="row g-3">
            @foreach (var product in Model)
            {
                <div class="col-md-4 col-xl-4 col-xxl-3">
                    <div class="card me-2">
                        <div class="card1">
                            <img src="@product.ImgUrl" class="card-img w-100" alt="...">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">@product.Name</h5>
                            <p class="card-text">Price:<span class="text-success">$@product.Price</span></p>
@*                            <div>
                                @for (int i = 0; i < Math.Round(product.Rating); i++)
                                {
                                    <i class="fas fa-star" style="color:gold"></i>
                                }
                                @for (int i = (int)Math.Round(product.Rating); i < 5; i++)
                                {
                                    <i class="fas fa-star" style="color:darkgray"></i>
                                }
                            </div>
                            <a asp-route-productId="@product.Id" asp-controller="Cart" asp-action="AddToCart" class="btn btn-outline-success">Add To Cart</a>
                            <a asp-route-productId="@product.Id" asp-controller="Product" asp-action="Details" class="btn btn-secondary my-2">Details</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>*@